@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.title {
    background-color: gold;
    height: 100px;
}

h1 {
    padding-top: 25px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.left-side, .right-side {
    padding: 10px 10px 10px 10px;
    border: 1px solid;
}

.left-side, .right-side h2 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.left-side, .right-side h3 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 500;
    font-size: 32pt;
    font-style: normal;
    color: red;
}

.right-side h3 {
    padding-top: 25px;
}

.test_image img {
    height: 200px;
    width: 200px;
}

.true {
    font-family: "Rubik Mono One", monospace;
    font-weight: 500;
    font-size: 14pt;
    font-style: normal;
    color: green; /* Пример стиля для класса true */
}

.false {
    font-family: "Rubik Mono One", monospace;
    font-weight: 500;
    font-size: 14pt;
    font-style: normal;
    color: red; /* Пример стиля для класса false */
}